#wrapper {
  height: 100%;
  margin: 0;
  background-color: #f5f5f5;
}

#product-column {
  padding: 0;
}

#top-bar {
  height: 50px;
  background-color: #af2f2c;
  padding: 13px;
}
/*Search box*/
.header-search-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 4px;
}
.header-search-wrapper i {
  position: absolute;
  top: 0;
  font-size: 24px;
  top: 6px;
  left: 24px;
  line-height:32px !important;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}
input.header-search-input {
  display: block;
  padding: 4px;
  width: 80%;
  background: rgba(255,255,255,0.3);
  height: 16px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border: none;
  font-size: 14px;
  appearance: textfield;
  font-weight: 400;
  outline: none;
  border-radius: 3px;
}
.header-search-input::-webkit-input-placeholder
{
  color:#fff;
  font-size:14px;
  font-weight:400
}
.header-search-input::-moz-placeholder
{
  color:#fff;
  font-size:14px;
  font-weight:400
}
.header-search-input:-ms-input-placeholder
{
  color:#fff;
  font-size:14px;
  font-weight:400
}
.header-search-input::placeholder
{
  color:#fff;
  font-size:14px;
  font-weight:400
}

input.header-search-input:hover {
    background: rgba(255,255,255,0.5);
}

input.header-search-input:focus {
    color:#333;
    background: #fff;
}
input.header-search-input:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

.header-search-wrapper-focus  i {
  color:#444 ;
}
.header-search-input:focus::-webkit-input-placeholder
{
  color:#333;
  font-size:14px;
  font-weight:400
}
.header-search-input:focus::-moz-placeholder
{
  color:#333;
  font-size:14px;
  font-weight:400
}
.header-search-input:focus:-ms-input-placeholder
{
  color:#333;
  font-size:14px;
  font-weight:400
}
.header-search-input:focus::placeholder
{
  color:#333;
  font-size:14px;
  font-weight:400
}

#bucket-list {
  background-color: #2d2d2d;
  height: 100%;
  padding: 0;
}

#bucket-list .collection {
  margin: 0;
  border: none;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

#bucket-list .collection .collection-item {
  background-color: #2d2d2d;
  line-height: 1.5rem;
  padding: 10px;
  margin: 0;
  border-bottom: none;

}

#bucket-list .collection .collection-item.bucket {
  height: 50px;
  padding-left: 72px;
  position: relative;
  color: #fff;
}

#bucket-list .collection .collection-item.bucket.selected {
  background-color: #af2f2c;
}

#bucket-list .collection .collection-item.bucket:hover {
  background-color: #5b5b5b;
}

#bucket-list .collection .collection-item.bucket .circle {
  position: absolute;
  width: 30px;
  height: 30px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

#bucket-list .collection .collection-item.bucket i.circle {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  background-color: #999;
  text-align: center;
}

#bucket-list .collection .collection-item.bucket .title {
  padding-top: 5px;
  font-size: 16px;
  margin-left: 0;
}

#bucket-list .collection .collection-item.bucket p {
  margin: 0;
}

#bucket-list .collection .collection-item.bucket .secondary-content {
  position: absolute;
  top: 16px;
  right: 16px;
}

.wishlist-item {
  height: 150px;
  width: 433px;
}

.product-card {
  width: 100px;
  height: 96px;
  display: inline-block;
  padding: 10px;
}

.product-image {
  max-width: 80px;
  margin: auto;
}

.product-price {
  margin: auto;
  text-align: center;
}

.product-info {
  display: inline-block;
  width: 260px;
  margin-left: 15px;
}

/*.wishlist-item{
  display: none;
}

.header-search-wrapper {
  display: none;
}*/
#new-product {
  position: fixed;
  z-index: 1;
  background-color: #fff;
  width: 433px;
}
#new-bucket {
  position: fixed;
  z-index: 1;
  background-color: #2d2d2d;
  width: 216px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: none;
}

#new-product .row {
  margin: 0;
}

#close-product {
  position: fixed;
  left: 400px;
  top: 5px;
  z-index: 1;
  cursor: pointer;
}

#close-bucket {
  position: fixed;
  right: 5px;
  top: 5px;
  z-index: 1;
  cursor: pointer;
  color: #fff;
}

#product-column {
  height: 400px;
  overflow: scroll;
}

.product-title {
  font-weight: bold;
}


/*new bucket selection*/

#bucket_name {
  color: #fff;
}

.five-select a {
  height: 30px;
  width: 30px;
  margin: 3px;
  line-height: 30px;
}

.five-select a i {
  line-height: 30px;
}

.five-select [type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.five-select [type="radio"] + span::before {
  content: '';
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 3px;
  line-height: 30px;
  vertical-align: -0.25em;
  border-radius: 50%;
  transition: 0.25s ease all;
  background-color: #3f3f3f;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
}

.five-select [type="radio"]:checked + span::before {
  box-shadow: 0 0 0 0.125em #fff;
}

#select-red[type="radio"] + span::before {
  background-color: #e51c23;
}

#select-blue[type="radio"] + span::before {
  background-color: #2196F3;
}

#select-orange[type="radio"] + span::before {
  background-color: #ff9800;
}

#select-green[type="radio"] + span::before {
  background-color: #4CAF50;
}

#select-purple[type="radio"] + span::before {
  background-color: #9c27b0;
}

#select-fav[type="radio"] + span::before {
  content: 'F';
  line-height: 30px;
}
#select-ext[type="radio"] + span::before {
  content: 'E';
}
#select-grade[type="radio"] + span::before {
  content: 'G';
}
#select-money[type="radio"] + span::before {
  content: 'M';
}
#select-emoticon[type="radio"] + span::before {
  content: 'E';
}
